div {
    font-size: 20px;
}

.class-01 {
    font-size: 28px;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

.title{
    font-size: 40px;
    width: 50%;
    display: flex;
    justify-content: end;
}

.language{
    width: 120px;
}

header{
    display: flex;
}

.language-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

}